install_dir=/Users/adam/Documents/chips

export OPENLANE_ROOT=$install_dir/tt_openlane

export PDK_ROOT=$install_dir/tt_pdk

export PDK=sky130A

export OPENLANE_TAG=2023.11.23

export OPENLANE_IMAGE_NAME=efabless/openlane:2023.11.23